@media(max-width: 1494px){
    main .moldura-01::before, main .moldura-01::after,
    main::before, main::after,
    main .principal::before, main .principal::after{
        display: none;
    }

    main .principal .image-position{
        right: 4%;
    }

}
@media(max-width: 1494px) and (min-width: 880px){
    main .bg-principal{
        padding-top: 300px;
    }
}
@media (max-width: 1280px){
    main::before, main::after, 
    .principal::before, .principal::after,
    .conteiner::after, .conteiner::before, 
    .ganhos .box-01::before, .ganhos .box-01::after,
    .sobre::before, .sobre::after,
    .version::after, .version::before,
    .etapas::after, .etapas::before,
    .etapas .position::after, .etapas .position::before,
    .destaque::after, .destaque::before,
    .investimento::after, .investimento::before,
    .dec::before, 
    .depoimentos::before, .depoimentos::after,
    .feedback::after, .feedback::before,
    .you-video::before, .you-video::after,
    .ganhos .box-02::before,
    .passages .section::after, .passages .section::before,
    .investimento .conteiner .money::after, .investimento .conteiner .money::before,
    main .investimento .dec::after,
    main .moldura-02::before {
        display: none;
    }
}
@media (max-width: 1195px) and (min-width: 880px){

    main .conteiner{
        max-width: 975px;
    }

    main .principal .image-position{
        display: none;
    }

    main .bg-principal{
        height: 550px;
        padding-top: 300px;
    }

    main .principal .txt-principal .txt-01,
    main .principal .txt-principal .txt-02{
        max-width: 90%;
    }

    .bg-principal .link, .sobre .rede-social{
        text-align: center;
    }

    main .principal .txt-principal a{
        display: inline-block;
    }

    main .sobre .txt-principal p{
        margin-left: 20px;
    }

    main .sobre .sbr-position-01{
        padding: 10px;
    }

    .sobre .rede-social a{
        margin: 20px;
    }

    main .principal .txt-principal .txt-01 span{
        display: block;
    }

    .type-book{
        padding-left: 20px;
    }

    .versions .position .ancora{
        padding-right: 20px;
    }

    .passages .section{
        margin-right: auto;
    }

    .etapas ol li::before{
        left: 80px;
        top: -80px;
    }

    .etapas ol li::after{
        left: 88px;
        top: -78px;
    }

    .etapas #subs a{
        left: 30px;
    }

    .etapas ol li#subs::before{
        top: -108px;
    }

    .passages ul li{
        padding: 0 40px;
    }

    .etapas ol li{
        padding: 0 20px;
    }

    .publ .box-02 .conteiner, .depoimentos .box-02 .conteiner{
        padding-left: 20px;
    }

    .investimento .valores ul#cursos li{
        padding-left: 0;
    }

    .investimento .valores ul#cursos li .correto::before{
        left: 26%;
    }

    .investimento .box-valor a{
        width: auto;
    }

    .you-video iframe{
        width: 95%;
    }

    footer .conteiner{
        max-width: 975px;
    }
}

@media (max-width: 880px){
    .conteiner{
        max-width: 300px;
    }

    header .menu-pos .info, main .principal .image-position{
        display: none;
    }

    header .lsg{
        border-radius: 20px;
        height: 200px;
        position: absolute;
        left: 0;
        top: -100px;
        width: 200px;
    }

    header .lsg img{
        margin: 0;
        margin-top: 100px;
        margin-left: 110px;
        width: 60px;
    }

    main .m-position-01, 
    main .principal .txt-principal, main .principal .txt-principal .txt-01 span, 
    main .sobre .sbr-position-01,
    .specbook .conteiner,
    .ganhos .position, .ganhos .box-02 ul .valor span,
    .versions .position,
    .etapas #subs,
    .investimento .box-valor, .investimento .roots,
    .depoimentos .position, .depoimentos .box-01 #v2,
    .depoimentos .box-02 ul, .depoimentos .box-02 ul li .cliente,
    .feedback .feed{
        display: block;
    }

    main .principal .txt-principal .txt-01{
        font-size: 24px;
    }

    main .principal .txt-principal{
        text-align: left;
    }

    main .principal .txt-principal .txt-01 span{
        margin: 0;
        padding: 0 20px;
    }

    main .principal .txt-principal a{
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }

    main .sobre .cut{
        height: 250px;
        margin: 0 auto;
        width: 200px;
    }

    main .sobre .cut img{
        left: -3em;
        width: 300px;
    }

    main .sobre .image-position::before{
        display: none;
    }

    main .sobre .txt-principal p{
        margin-left: 0;
    }

    main .sobre .txt-principal .txt-02{
        width: auto;
    }

    .sobre .rede-social{
        padding-left: 0;
        text-align: center;
    }

    .sobre .rede-social a{
        margin: 20px;
    }

    .type-book .conteiner{
        display: inline-block;
    }

    .type-book ul{
        margin-left: 20px;
    }

    .specbook .txt-02{
        text-align: start;
    }

    .specbook .txt-02::after{
        display: none;
    }

    .specbook .txt-01{
        margin-right: 0;
    }

    .ganhos .box-01 .conteiner{
        margin-right: auto;
    }

    .ganhos .position .box-01{
        padding-bottom: 140px;
    }

    .ganhos .position .box-01, .ganhos .position .box-02{
        height: auto;
    }

    .ganhos .box-02 ul .valor{
        width: 65%;
    }
    .ganhos .box-02 ul .ano, .ganhos .box-02 ul .dot-02{
        display: none;
    }

    .ganhos .box-02 ul li{
        margin-top: 30px;
    }

    .ganhos .box-01 h2, .publ .box-01 h2, .publ .box-02 h2, .publ .box-02 h3#sub-txt-05{
        width: 90%;
    }

    .passages .section{
        display: block;
        margin-left: 0;
        width: 100%;
    }

    .passages .section p{
        padding-left: 20px;
    }

    .passages ul li{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        max-width: 410px;
        text-align: center;
    }

    .passages ul li::before, .passages ul li::after{
        left: 35%;
    }

    .versions{
        height: auto;
        padding: 20px;
        padding-bottom: 80px;
    }

    .versions .position .txt h2{
        margin-top: 20px;
    }

    .versions .position .alg{
        display: block;
        margin-top: 40px;
        text-align: center;
        white-space: nowrap; 
    }

    .versions .position a{
        margin-left: auto;
        margin-right: auto;
        padding: 18px 20px;
    }

    .etapas ol li{
        display: block;
        margin-top: 150px;
        max-width: 100%;
    }

    .etapas ol li::after{ right: 50%; }
    .etapas ol li::before{ right: 47%; }

    .etapas #subs a{
        position: static;
    }

    .etapas ol li#subs::before{
        display: none;
    }

    .etapas .link{
        text-align: center;
    }

    .publ .position{
        display: block;
        padding: 1px;
    }

    .publ .box-01 h2, .publ .box-02 h2{
        margin-top: 0;
        padding-top: 40px;
    }

    .publ .box-01 .continuacao p{
        padding-bottom: 40px;
    }

    .publ .box-01 .conteiner{
        margin-right: auto;
        padding-bottom: 30px;
    }
    .publ .box-02 .conteiner{
        margin-left: auto;
        padding: 1px;
        padding-left: 0;
    }

    .publ .box-01 .continuacao, .publ .box-02 h3#sub-txt-05{
        margin-bottom: 0;
    }

    .publ .box-02 .link{
        text-align: center;
    }

    .publ .box-02 a{
        display: inline-block;
        margin-bottom: 80px;
        margin-left: 0;
        margin-top: 40px;
    }

    .investimento .money{
        padding-top: 40px;
    }

    .investimento .valores ul#cursos li{
        display: block;
        max-width: 90%;
        width: 100%;
    }

    .investimento .valores ul#cursos li .correto::before{
        display: none;
    }

    .investimento .box-valor a{
        display: block;
        height: auto;
        margin-left: 5%;
        padding: 15px 0;
        text-align: center;
        width: 90%;
    }

    .investimento .box-valor .valor-01, .investimento .box-valor .valor-02{
        margin-top: 20px;
    }

    .investimento .box-valor .valor-01 a p.preco{
        padding: 0;
    }

    .investimento .roots .box-02{
        margin-left: 20px;
    }

    .investimento .roots .box-02 ul{
        margin-left: 40px;
    }
    
    .investimento .info p em::before, .investimento .info p em::after{
        display: none;
    }

    .investimento .roots .box-01 p, .investimento .roots .box-02 ul li{
        width: 90%;
    }

    .depoimentos .conteiner .botoes, main .depoimentos .position::before{
        display: none;
    }

    .depoimentos .box-01 #v1, .depoimentos .box-01 #v2{
        margin-bottom: 0;
        text-align: center;
    }

    .depoimentos .box-01{
        padding-bottom: 30px;
        padding-top: 2px;
    }

    .investimento .roots .box-01 h4, .investimento .roots .box-02 h4{
        max-width: 90%;
    }

    .depoimentos .box-02{
        padding: 1px;
    }

    .depoimentos .box-02 .conteiner{
        padding-left: 20px;
    }

    .depoimentos .box-02 ul li .cliente{
        max-width: 350px;
        width: 90%;
    }

    .depoimentos .box-01 .videos video{
        margin-left: 0;
    }

    .depoimentos .box-02 ul li.desnivel{
        margin-top: 0;
    }

    .depoimentos .box-02 img#logo02, .depoimentos .box-02 img#logo05{
        margin-left: auto;
    }
    .feedback .conteiner .position::before,.feedback .conteiner .position::after{
        display: none;
    }

    .feedback .position{
        padding-top: 40px;
    }

    .feedback .feed a{
        max-width: 90%;
    }

    .feedback .feed a{
        margin-left: 20px;
        padding: 20px 0;
    }
    .feedback p{
        margin-top: 20px;
        max-width: 100%;
    }
    .feedback .feed .box-01 a::before, .feedback .feed .box-02 a::after{
        left: 45%;
    }

    .feedback .feed .box-02{
        margin-top: 200px;
    }
    .you-video h2{
        max-width: 100%;
    }
    .you-video iframe{
        height: auto;
        width: 70%;
    }

    .you-video .conteiner{
        text-align: center;
    }
    
    footer .position{
        display: block;
        padding: 1px;
        text-align: center;
    }

    footer .position div{
        margin-top: 30px;
    }

}

@media (max-width: 880px) and (min-width: 352px){
    
    main .bg-principal{
        height: auto;
        margin-bottom: 100px;
    }

    main .sobre .cut{
        height: 400px;
        width: 320px;
    }

    main .sobre .cut img{
        width: 430px;
    }

    main .sobre .image-position::before{
        display: none;
    }
}

@media (max-width: 280px){

    main .principal .txt-principal a{
        margin-top: 20px;
    }

    .passages ul li::before, .passages ul li::after{
        left: 28%;
    }

    .investimento .ancora a{
        white-space: nowrap;
    }

    .etapas #subs{
        margin-left: 4%;
    }
    .versions{
        height: 504px;
    }
}