/*MAIN*/

main{
    overflow: hidden;
}

/*PRINCIPAL*/

main .conteiner{
    margin: 0 auto;
    max-width: 1100px;
}

main .bg-principal{
    background: linear-gradient(220.36deg, rgba(25, 112, 129, 0.32) 0%, rgba(247, 247, 249, 0) 44.63%)  ;
    height: 700px;
    padding-top: 200px;
    overflow: hidden;
}

main .principal .position-int{
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
}

main .m-position-01{
    display: inline-block;
}

/*LOSANGO*/
main::before, main::after{              
    border: solid 1px #197081;
    border-radius: 57px;
    content: '';
    height: 450px;
    position: absolute;
    left: -250px;
    opacity: 0.4;
    transform: rotate(45deg);
    width: 450px;
}                                       
main::before{ top: 400px; }
main::after{ top: 520px; }

main .principal::before, main .principal::after{
    border: none;
    border-radius: 2em;
    content: '';
    height: 130px;
    position: absolute;
    transform: rotate(45deg);
    width: 130px;
}
main .principal::before{
    background-color: #C2FF01;
    left: 90px;
    top: 705px;
}
main .principal::after{
    background: linear-gradient(25deg, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
    left: -20px;
    top: 800px;
}                                       
/*********/

main .principal .txt-principal{
    display: inline-block;
}

main .principal .txt-principal .txt-01{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.6em;
    max-width: 530px;
    text-transform: uppercase;
}

main .principal .txt-principal .txt-01 span{
    background-color: #000;
    border-radius: 8px;
    color:#C2FF01;
    display: inline-block;
    margin-right: 60px;
    padding: 0 25px;
}

main .principal .txt-principal .txt-02{
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    line-height: 27px;
    margin-top: 50px;
    max-width: 510px;
}

main .principal .txt-principal a{
    background-color: #C2FF01;
    border-radius: 2em;
    color: #000;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 500px;
}

main .principal .txt-principal a:hover{
    background-color: #000;
    color: #C2FF01;
    transition: 0.8s;
}

main .principal .image-position{
    position: absolute;
    right: 240px;
    top: 70px;
}

main .principal .cut{
    background-color: white;
    border-radius: 57px;
    height: 480px;
    position: relative;
    overflow: hidden;
    transform: rotate(45deg);
    width: 480px;
    z-index: 2;
}

main .moldura-01, main .moldura-02{
    position: relative;
}


main .moldura-01::before, main .moldura-01::after{
    border-radius: 57px;
    content: '';
    position: absolute;
    transform: rotate(45deg);
}
main .moldura-01::before{
    background: linear-gradient(250deg, #FFFFFF 8%, rgba(255, 255, 255, 0) 100%);
    height: 745px;
    right: -150px;
    top: -60px;
    width: 745px;
}
main .moldura-01::after{
    background: #FFF;
    height: 250px;
    left: -100px;
    top: -10px;
    width: 250px;
}


main .moldura-02::before, main .moldura-02::after{
    border-radius: 57px;
    content: '';
    height: 480px;
    position: absolute;
    transform: rotate(45deg);
    top: 20px;
    width: 480px;
}
main .moldura-02::before{
    background: linear-gradient(150deg, #197081, #FFF);
    right: 90px;
    z-index: 2;
}
main .moldura-02::after{
    border: 1px solid #C2FF01;
    left: 80px;
    z-index: 3;
}


main .principal .cut img{
    position: absolute;
    right: -260px;
    top: -140px;
    transform: rotate(-45deg);
    width: 1200px;
}

/*SOBRE*/
main .sobre{
    padding-top: 20px;
    position: relative;
    overflow: hidden;
}

main .sobre>.conteiner{
    position: relative;
}

main .sobre h2{
    color: #F7F7F9;
    font-family: "Uni Sans", sans-serif;
    font-size: 63px;
    letter-spacing: 50px;
    position: absolute;
    left: -300px;
    top: 40px;
    text-orientation: upright;
    text-transform: uppercase;
    writing-mode: vertical-rl;
}

main .sobre .sbr-position-01{
    display: flex;
}

main .sobre .image-position::before{
    background-color:#C2FF01;
    border-radius: 57px;
    content: '';
    height: 300px;
    position: absolute;
    left: -160px;
    top: 20px;
    transform: rotate(45deg);
    width: 300px;
}

main .sobre .cut{
    border-radius: 15px;
    height: 542px;
    position: relative;
    overflow: hidden;
    width: 460px;
}

main .sobre .cut img{
    position: absolute;
    left: -3.5em;
    width: 600px;
}

main .sobre .txt-principal p{
    margin-left: 80px;
    margin-top: 30px;
}

main .sobre .txt-principal .txt-01, .sobre .txt-principal .txt-02{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;    
    text-transform: uppercase;
}

main .sobre .txt-principal .txt-01{
    font-size: 25px;
}

main .sobre .txt-principal .txt-02{
    font-size: 20px;
    font-weight: bold;
    width: 75%;
}

main .sobre .txt-principal .txt-03, .sobre .txt-principal .txt-04{
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    line-height: 26px;
    width: 90%;
}

main .sobre .txt-principal .txt-04{
    margin-top: 0;
}

main .sobre .txt-principal .txt-04 strong{
    display: block;
    margin-top: 30px;
}

main .sobre::before, main .sobre::after{
    border: solid 1px #197081;
    border-radius: 57px;
    content: '';
    height: 450px;
    position: absolute;
    right: -400px;
    transform: rotate(45deg);
    width: 450px;
}
main .sobre::before{
    bottom: 400px;
    opacity: 0.4;
}
main .sobre::after{
    opacity: 0.4;
    top: 20px;
}

.sobre .rede-social{
    margin-bottom: 120px;
    margin-top: 80px;
    padding-left: 50px;
}

.sobre .rede-social a{
    background: linear-gradient(59.46deg, #1D737E -67.96%, #4FB9C7 103.75%);
    border-radius: 100%;
    margin-left: 20px;
    padding: 18px 27px;
    position: relative;
}

.sobre .rede-social img{
    filter: invert(100%);
    position: absolute;
    left: 17px;
    top: 16px;
    width: 20px;
}

#instagram{
    width: 18px;
    left: 18px;
    top: 17px;
}

/*TYPEBOOK*/
.type-book{
    background-color: #0c0c0f;
    background-image: url(../img/background.png);
    background-position: 65% 13%;
    background-repeat: no-repeat;
    padding-bottom: 130px;
    padding-top: 130px;
    position: relative;
}

.type-book .conteiner{
    display: flex;
    position: relative;
}

.type-book ul::before{
    background: url(../img/logo.png);
    background-size: 179px;
    border: 1px solid #000;
    content: '';
    display: inline-block;
    height: 210px;
    position: absolute;
    left: -220px;
    top: 0;
    width: 179px;
}

.type-book ul{
    color: white;
    flex: 1.6;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 20px;
    text-transform: uppercase;
}

.type-book p{
    color: white;
    flex: 2.5;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    line-height: 1.8em;
}

.type-book span{
    color: #C2FF01;
}

.type-book p::after{
    background-color: #C2FF01;
    border-radius: 34px;
    content: '';
    height: 130px;
    position: absolute;
    bottom: 200px;
    right: -320px;
    transform: rotate(45deg);
    width: 130px;
}

/*SPECBOOK*/
.specbook{
    margin-bottom: 100px;
    margin-top: 100px;
}

.specbook .conteiner{
    display: flex;
}

.specbook p{
    line-height: 27px;
}

.specbook .txt-01{
    flex: 2;
    font-family: "Fira Sans", sans-serif;
    margin-right: 60px;
}
.specbook .txt-01 span{
    display: block;
    font-weight: bold;
    margin-top: 30px;
}

.specbook .txt-02{
    flex: 1;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 40px;
    margin-top: 25px;
    position: relative;
    text-align: end;
    text-transform: uppercase;
}

.specbook .txt-02::after{
    background-image: url(../img/icons/icon01.png);
    content: '';
    height: 154px;
    margin-left: 50px;
    position: absolute;
    top: -20px;
    width: 157px;
}

/*GANHOS*/
.ganhos .position{
    display: flex;
}

.ganhos .box-01 .conteiner, .ganhos .box-02 .conteiner{ max-width: 550px; }
.ganhos .box-01 .conteiner{ margin-right: 0; }
.ganhos .box-02 .conteiner{ margin-left: 0; }

.ganhos .position .box-01, .ganhos .position .box-02{
    flex: 1;
    height: 814px;
}

.ganhos .position .box-01{
    background: linear-gradient(59.46deg, #1D737E -67.96%, #4FB9C7 103.75%);
    position: relative;
    overflow: hidden;
}

.ganhos .position .box-01::before, .ganhos .position .box-01::after{
    border: 1px solid #197081;
    border-radius: 57px;
    content: '';
    height: 375px;
    position: absolute;
    top: 200px;
    opacity: 0.8;
    transform: rotate(45deg);
    width: 375px;
}
.ganhos .position .box-01::before{ left: -160px; }
.ganhos .position .box-01::after{ left: -90px; }

.ganhos .box-01 h2{
    color: #FFF;
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
    line-height: 40px;
    margin-bottom: 80px;
    margin-top: 120px;
    text-transform: uppercase;    
    width: 60%;
}

.ganhos .box-01 p{
    color: #FFF;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    margin-top: 30px;
    width: 84%;
}

.ganhos .box-01 p strong{
    color: #C2FF01;
}

.ganhos .position .box-02{
    background-color: #000;
    color: #FFF;
    position: relative;
}

.ganhos .box-02::before{
    color: #C2FF01;
    content: '$';
    font-family: "Fira Sans", sans-serif;
    font-size: 50px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    z-index: 2;
}

.ganhos .box-02 .conteiner::before{
    background: linear-gradient(to bottom left, rgba(194,255,1,1) 0%, #000 50%);
    color: #000;
    content: '$';
    font-family: "Fira Sans", sans-serif;
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 40px;
    -webkit-text-stroke: 2px transparent;
    -webkit-background-clip: text;
}

.ganhos .box-02 .time-line{
    border-image: linear-gradient(to top, rgba(162,196,58,1), rgba(0, 0, 0, 0)) 1 100%;
    border-left: 2px solid;
    margin-left: auto;
    margin-right: 0;
    height: 814px;
    position: relative;
    width: 78%;
}

.ganhos .box-02 h2{
    font-family: "Oswald", sans-serif;
    font-size: 23px;
    letter-spacing: 4px;
    line-height: 40px;
    padding-left: 40px;
    padding-top: 120px;
    position: relative;
    text-transform: uppercase;
}

.ganhos .box-02 ul{
    margin-left: -10px;
    margin-top: 40px;
}

.ganhos .box-02 ul div{
    display: inline-block;
}
.ganhos .box-02 ul .dot, .ganhos .box-02 ul .dot-02{
    border-radius: 50%;
    text-indent: -2220000em;
}

.ganhos .box-02 ul .dot{
    background-color: #000;
    border: 4px solid #C2FF01;
    height: 10px;
    margin-right: 35px;
    width: 10px;
}

.ganhos .box-02 ul .dot-02{
    background-color: #C2FF01;
    border-radius: 50%;
    height: 4px;
    position: relative;
    left: 0;
    text-indent: -2220000em;
    width: 4px;
}
.ganhos .box-02 ul .dot-02::before, .ganhos .box-02 ul .dot-02::after{
    background-color: #C2FF01;
    border-radius: 50%;
    content: '';
    height: 4px;
    position: absolute;
    width: 4px;
}
.ganhos .box-02 ul .dot-02::before{
    left: 20px;
    opacity: 0.2;
}
.ganhos .box-02 ul .dot-02::after{
    left: 10px;
    opacity: 0.5;
}

.ganhos .box-02 ul .ano{
    color: #C2FF01;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-left: 35px;
    margin-right: 70px;
    margin-top: 50px;
}

.ganhos .box-02 ul .valor{
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    width: 30%;
}

.ganhos .box-02 ul .valor span{
    color: #C2FF01;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
}

.ganhos .box-02 h2::after{
    color: #C2FF01;
    content: '$';
    font-family: "Fira Sans", sans-serif;
    font-size: 50px;
    position: absolute;
    top: 180px;
    left: 145%;
    z-index: 2;
}

.ganhos .box-02 h2::before{
    color: #000;
    content: '$';
    background: linear-gradient(to bottom left, rgba(194,255,1,1) 0%, #000 60%);
    font-family: "Fira Sans", sans-serif;
    font-size: 100px;
    font-weight: 800;
    line-height: 105px;
    position: absolute;
    top: 130px;
    left: 145%;
    -webkit-text-stroke: 1px transparent;
    -webkit-background-clip: text;
}

.ganhos .box-02 ul::after{
    color: #111;
    content: '$';
    font-family: "Fira Sans", sans-serif;
    font-size: 418px;
    font-weight: 600;
    position: absolute;
    bottom: 40px;
    left: 125%;
    opacity: 34%;
}

/*PASSAGES*/
.passages{
    margin-top: 120px;
}

.passages .section{
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: 0;
    width: 80%;
}

.passages .section::before{
    background-image: url(../img/icons/icon02.png);
    background-repeat: no-repeat;
    content: '';
    height: 83px;
    position: absolute;
    right: 110.5%;
    top: 45px;
    width: 83px;
    z-index: 1;
}

.passages .section::after{
    background-color:#C2FF01;
    border-radius: 34px;
    content: '';
    height: 177px;
    position: absolute;
    right: 105%;
    top: 0;
    transform: rotate(45deg);
    width: 177px;
}

.passages .section h2, .passages .section p{
    margin-top: 40px;
}

.passages .section h2{
    flex: 3;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    padding-left: 20px;
    text-transform: uppercase;
}

.passages .section p{
    flex: 6;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    line-height: 27px;
    padding-left: 50px;
}

.passages h2#centralizar{
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    letter-spacing: 4px;
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
}

.passages ul{
    margin-top: 250px;
    text-align: center;
}

.passages ul li{
    display: inline-block;
    max-width: 10%;
    padding: 0 57px;
    position: relative;
    vertical-align: top;
}

.passages ul li a{
    color: #000;
    font-family: "Fira-sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.passages ul li a span{
    color: #197081;
    font-weight: lighter;
}

.passages ul li::before{
    border-left: 3px solid #EEE;
    border-top: 3px solid #EEE;
    border-radius: 15px;
    content: '';
    height: 115px;
    position: absolute;
    top: -130px;
    left: 24%;
    transform: rotate(45deg);
    vertical-align: top;
    width: 115px;
}

.passages ul li::after{
    height: 95px;
    padding-left: 10px;
    position: absolute;
    top: -130px;
    left: 24%;
    width: 95px;
}

.passages #item-01::after{ content: url(../img/icons/training.png); }
.passages #item-02::after{ content: url(../img/icons/talk1.png);}
.passages #item-03::after{ content: url(../img/icons/presentation.png); }
.passages #item-04::after{ content: url(../img/icons/seminar1.png); }
.passages #item-05::after{ content: url(../img/icons/talk2.png); }

/*VERSIONS*/
.versions{
    background-color: #0c0c0f;
    background-image: url(../img/background-02.png);
    background-position: 50% 10%;
    background-repeat: no-repeat;
    color: #FFF;
    height: 404px;
    margin-top: 120px;
}

.versions .position{
    display: flex;
}

.versions .position .txt{
    flex: 3.5;
}

.versions .position .txt h2{
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 90px;
    max-width: 90%;
    text-transform: uppercase;
}

.versions .position .txt h2 strong{
    color: #C2FF01;
}

.versions .position .txt p{
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 23px;
    margin-top: 30px;
}

.versions .position .ancora{
    flex: 5;
}

.versions .position .alg{
    display: flex;
    justify-content: flex-end;
}

.versions .position a{
    background-color: #C2FF01;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #000;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-top: 200px;
    padding: 18px 80px;
    text-transform: uppercase;
}

.versions a:hover{
    background-color: transparent;
    border: 1px solid #C2FF01;
    color: white;
    transition: 0.8s;
}

/*ETAPAS*/
.etapas{
    margin-top: 90px;
    position: relative;
}

.etapas h2{
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.etapas ol{
    margin-top: 150px;
}

.etapas ol li{
    display: inline-block;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    max-width: 17%;
    padding: 0 42px;
    position: relative;
    text-align: center;
    vertical-align: top;
}

.etapas ol li::before{
    background-color: #C2FF01;
    border-radius: 15px;
    content: '';
    height: 45px;
    position: absolute;
    bottom: 70px;
    right: 115px;
    transform: rotate(45deg);
    width: 45px;
}

.etapas ol li::after{
    font-family: "Uni sans", sans-serif;
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    bottom: 75px;
    right: 125px;
}

.etapas ol li#numeral-01::after{ content: '.1'; }
.etapas ol li#numeral-02::after{ content: '.2'; }
.etapas ol li#numeral-03::after{ content: '.3'; }
.etapas ol li#numeral-04::after{ content: '.4'; }
.etapas ol li#numeral-05::after{ content: '.5'; }
.etapas ol li#numeral-06::after{ content: '.6'; }
.etapas ol li#numeral-07::after{ content: '.7'; }

.etapas #subs{
    display: inline-block;
    position: relative;
}

.etapas ol li#subs::before{ 
    background: linear-gradient(59.46deg, #1D737E -67.96%, #4FB9C7 103.75%);
    border-radius: 14px;
    height: 158px;
    position: absolute;
    bottom: -50px;
    left: 0%;
    transform: none;
    width: 256px;
}

.etapas #subs a{
    background-color: #C2FF01;
    border-radius: 30px;
    color: #000;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 18px 40px;
    position: absolute;
    bottom: 0;
    left: 40%;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;;
}

.etapas #subs a::before{
    border: 1px solid #FFF;
    border-bottom: transparent;
    border-left: transparent;
    border-radius: 39px;
    content: '';
    height: 118px;
    position: absolute;
    bottom: -30px;
    right: 0;
    opacity: 0.8;
    transform: rotate(45deg);
    width: 118px;
}

.etapas #subs a::after{
    border: 1px solid #FFF;
    border-bottom: transparent;
    border-left: transparent;
    border-radius: 39px;
    content: '';
    height: 118px;
    position: absolute;
    bottom: -30px;
    right: -20px;
    opacity: 0.8;
    transform: rotate(45deg);
    width: 118px;
}

main .etapas::before, main .etapas::after{
    border: solid 1px #197081;
    border-radius: 57px;
    content: '';
    height: 450px;
    position: absolute;
    left: -250px;
    opacity: 0.4;
    transform: rotate(45deg);
    width: 450px;
}
main .etapas::before{ bottom: 60px; }
main .etapas::after{ bottom: 180px; }

main .etapas .conteiner::before, main .etapas .conteiner::after{
    border: none;
    border-radius: 2em;
    content: '';
    height: 130px;
    position: absolute;
    transform: rotate(45deg);
    width: 130px;
}
main .etapas .conteiner::before{
    background-color: #C2FF01;
    left: 80px;
    top: 80px;
    z-index: 1;
}

main .etapas .conteiner::after{
    background: linear-gradient(25deg, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
    left: -40px;
    top: 160px;
    z-index: 2;
}

main .etapas .position::before, main .etapas .position::after{
    border: solid 1px #197081;
    border-radius: 57px;
    content: '';
    height: 450px;
    position: absolute;
    opacity: 0.4;
    transform: rotate(45deg);
    width: 450px;
}
main .etapas .position::before{
    right: -330px;
    top: 180px;
}
 main .etapas .position::after{
    right: -330px;
    top: 300px;
}

main .etapas .dec::before{
    background-color: #C2FF01;
    border: none;
    border-radius: 2em;
    content: '';
    height: 130px;
    position: absolute;
    bottom: -200px;
    right:  10px;
    transform: rotate(45deg);
    width: 130px;
    z-index: 1;
}

/*PUBL*/
.publ{
    margin-top: 150px;
}

.publ .position{
    display: flex;
}

.publ .box-01 .conteiner, .publ .box-02 .conteiner{ max-width: 550px; }
.publ .box-01 .conteiner{ margin-right: 0; }
.publ .box-02 .conteiner{ margin-left: 0; }

.publ .box-01, .publ .box-02{
    color: #FFF;
    flex: 1;
}

.publ .box-01{
    background-color: #000;
}

.publ .box-01 h2, .publ .box-01 h3, .publ .box-02 h2, .publ .box-02 h3{
    color: #FFF;
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.publ .box-01 h2, .publ .box-02 h2{
    line-height: 40px;
    margin-bottom: 30px;
    margin-top: 120px;
    width: 60%;
}

.publ .box-01 h3, .publ .box-02 h3{
    color: #C2FF01;
}

.publ .box-01 h3#sub-txt-01{
    font-size: 18px;
    margin-bottom: 60px;
    margin-top: 0;
}

.publ .box-01 p, .publ .box-02 p{
    color: #FFF;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    width: 84%;
}

.publ .box-01 p{
    margin-top: 30px;
}

.publ .box-01 li, .publ .box-02 li{
    color: #FFF;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 40px;
    margin-top: 10px;
    position: relative;
}

.publ .box-01 li::before, .publ .box-02 li::before{
    content: url(../img/icons/correct.png);
    position: relative;
    left: -20px;
    top: 8px;
}

.publ .box-01 li#dif{
    margin-top: 20px;
}

.publ .box-01 li#dif a{ 
    color: #C2FF01;
    margin-left: 25px;
}

.publ .box-01 li#dif::before{ content: none;}

.publ .box-01 #lista-01{
    margin-top: 60px;
}

.publ .box-01 .destaque{
    background: linear-gradient(270deg, #171717 0%, rgba(23, 23, 23, 0) 100%);
    margin-top: 80px;
    position: relative;
    height: 321px;
}


.publ .box-01 .destaque::before, .publ .box-01 .destaque::after{
    border: 1px solid #197081;
    border-bottom: transparent;
    border-radius: 57px;
    content: '';
    height: 300px;
    position: absolute;
    opacity: 0.8;
    transform: rotate(135deg);
    width: 300px;
}
.publ .box-01 .destaque::before{ left: -90px; }
.publ .box-01 .destaque::after{ top: 0; left: -30px; }


.publ .box-01 .destaque h3{
    padding-top: 60px;
}

.publ .box-01 .destaque ul{
    margin-top: 40px;
}

.publ .box-01 .continuacao{
    margin-bottom: 100px;
    margin-top: 100px;
}

.publ .box-01 .continuacao p{
    margin-top: 10px;
}

.publ .box-02{
    background: linear-gradient(59.46deg, #1D737E -67.96%, #4FB9C7 103.75%);
}

.publ .box-02 .conteiner{
    padding-left: 120px;
}

.publ .box-02 h3#sub-txt-04{
    width: 75%;
}

.publ .box-02 ul{
    margin-bottom: 80px;
    margin-top: 40px;
}

.publ .box-02 p{
    margin-top: 20px;
}

.publ .box-02 p::first-line{
    font-weight: bold;
}

.publ .box-02 h3#sub-txt-05{
    margin-bottom: 130px;
    margin-top: 100px;
    width: 60%;
}

.publ .box-02 a{
    background-color: #C2FF01;
    border: 2px solid transparent;
    border-radius: 30px;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    padding: 18px 65px;
    text-transform: uppercase; 
}

.publ .box-02 a:hover{
    background-color: transparent;
    border: 2px solid #C2FF01;
    color: white;
    transition: 0.8s;
}

/*IVENSTIMENTO*/
main .investimento, .investimento .dec{
    position: relative;
}

main .investimento::before, main .investimento::after{
    border: solid 1px #197081;
    border-radius: 57px;
    content: '';
    height: 450px;
    position: absolute;
    left: -250px;
    opacity: 0.4;
    transform: rotate(45deg);
    width: 450px;
}
main .investimento::before{ top: 65px; }
main .investimento::after{ top: 180px; }

main .investimento .dec::before, main .investimento .dec::after{
    border: none;
    border-radius: 2em;
    content: '';
    height: 130px;
    position: absolute;
    transform: rotate(45deg);
    width: 130px;
}
main .investimento .dec::before{
    background-color: #C2FF01;
    left: 80px;
    top: 370px;
    z-index: 1;
}

main .investimento .dec::after{
    background: linear-gradient(25deg, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
    left: -40px;
    top: 450px;
    z-index: 2;
}

.investimento .money{
    padding-top: 250px;
    position: relative;
}

.investimento .conteiner .money::before{
    background-color: #C2FF01;
    border-radius: 34px;
    content: '';
    height: 177px;
    position: absolute;
    top: -25px;
    left: 42%;
    transform: rotate(45deg);
    width: 177px;
}

.investimento .conteiner .money::after{
    content: url(../img/icons/money.png);
    position: absolute;
    left: 45.2%;
    top: 0;
}

.investimento .info h2, .investimento .info h3, .investimento .info p{
    text-align: center;
}

.investimento .info h2, .investimento .info h3{
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.investimento .info h2{
    font-size: 25px;
}

.investimento .info h3{
    font-size: 18px;
    margin-top: 15px;
}

.investimento .info p{
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    margin-top: 40px;
}

.investimento .info p em{
    position: relative;
}

.investimento .info p em::before, .investimento .info p em::after{
    color: #197081;
    font-family: 'Unkempt', cursive;
    font-size: 80px;
    position: absolute;
}
.investimento .info p em::before{
    content: '“';
    left: -100px;
    top: -20px;
}
.investimento .info p em::after{
    content: '”';
    right: -75px;
    top: -10px;
}

.investimento .info .txt{
    margin-top: 120px;
}

.investimento .fundo-valores{
    background: linear-gradient(180deg, rgba(25, 112, 129, 0.32) -130.79%, rgba(247, 247, 249, 0) 32.02%); 
    margin-top: 180px;
    position: relative;
}

.investimento .valores ul#cursos{
    position: relative;
    top: -72px;
}

.investimento .valores ul#cursos li{
    display: inline-block;
    font-weight: bold;
    padding: 0 9px;
    text-align: center;
    vertical-align: top;
    width: 18%;
}

.investimento .valores ul#cursos li div{
    margin-bottom: 40px;
}

.investimento .valores ul#cursos li .cr{
    margin-bottom: 24px;
}

.investimento .valores ul#cursos li .correto{
    position: relative;
}

.investimento .valores ul#cursos li .correto span{
    background-color: #C2FF01;
    border: 1px solid #00AA54;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 170, 84, 0.75);
    color: #00AA54;
    font-size: 40px;
    padding: 5px 12px;
}

.investimento .valores ul#cursos li .correto::before{
    background-color: #C2FF01;
    border-radius: 50%;
    content: '';
    height: 84px;
    position: absolute;
    left: 29%;
    top: -12px; 
    width: 84px;
    z-index: -99;
}

.investimento .valores ul#cursos li .formacao{
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
}

.investimento .valores ul#cursos li .formacao span{
    color: #197081;
    display: block;
}

.investimento .valores ul#cursos li .preco{
    font-family: "Oswald", sans-serif;
    font-size: 25px;
}

.investimento .box-valor{
    display: flex;
}

.investimento .box-valor .valor-01, .investimento .box-valor .valor-02{
    flex: 1;
}

.investimento .box-valor a{
    align-items: center;
    border: 2px solid #D40033;
    border-radius: 20px;
    color: #000;
    display: flex;
    height: 131px;
    justify-content: center;
    width: 535px;
}

.investimento .box-valor a p{
    display: inline-block;
    text-transform: uppercase;
}

.investimento .box-valor a p.preco{
    font-family: "Oswald", sans-serif;
    font-size: 40px;
}

.investimento .box-valor .valor-01 a p{
    padding-left: 40px;
}

.investimento .box-valor .valor-01 a p.preco{
    padding-left: 0;
    padding-right: 30px;
}

.investimento .box-valor .valor-02 a p{
    font-weight: normal;
    padding: 20px;
    text-transform: none;
}

.investimento .box-valor .valor-02 a p.preco{
    color: #D40033;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
}

.investimento .box-valor a#selecionado, 
.investimento .box-valor a:hover{
    background-color: #D40033;
}

.investimento .box-valor a#selecionado, 
.investimento .box-valor a:hover,
.investimento .box-valor .valor-02 a:hover p.preco{
    color: #FFF;
    transition: 0.8s;
}

.investimento .box-valor a p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
}

.investimento .roots{
    display: flex;
    margin-top: 80px;
}

.investimento .roots .box-01, .investimento .roots .box-02{
    flex: 1;
}

.investimento .roots h3{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.investimento .roots .box-01 p, .investimento .roots .box-02 ul li{
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin-top: 20px;
    width: 80%;
}

.investimento .roots .box-01 p.txt{
    width: 90%;
}

.investimento .roots .box-02{
    margin-left: 80px;
    margin-top: 50px;
}

.investimento .roots .box-02 p{
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}

.investimento .roots .box-02 ul{
    margin-top: 48px;
    padding-left: 20px;
}

.investimento .roots .box-02 ul li{
    position: relative;
}

.investimento .roots .box-02 ul li::before{
    content: url(../img/icons/correct.png);
    position: absolute;
    left: -40px;
    top: 8px;
}

.investimento .roots h4{
    font-family: "Fira Sans", sans-serif;
    font-size: 27px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 40px;
    width: 100%;
}

.investimento .roots .box-01 h4{
    width: 104%;
}

.investimento .roots .box-02 h4{
    margin-top: 62px;
}

.investimento .ancora{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.investimento .ancora a{
    background-color: #C2FF01;
    border-radius: 30px;
    color: #000;
    padding-left: 60px;
    padding-right: 60px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 64px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.investimento .ancora a:hover{
    background-color: #000;
    color: #C2FF01;
    transition: 0.8s;
}

/*DEPOIMENTOS*/
.depoimentos{
    margin-top: 150px;
    position: relative;
}

.depoimentos .position{
    display: flex;
}


main .depoimentos::before, main .depoimentos::after{
    border: solid 1px #197081;
    border-radius: 57px;
    content: '';
    height: 450px;
    position: absolute;
    right: -400px;
    opacity: 0.4;
    transform: rotate(45deg);
    width: 450px;
}
main .depoimentos::before{ top: -320px; }
main .depoimentos::after{ top: -200px; }


main .depoimentos .position::before{
    background-color: #C2FF01;
    border: none;
    border-radius: 2em;
    content: '';
    height: 130px;
    position: absolute;
    right: -50px;
    top: -30px;
    transform: rotate(45deg);
    width: 130px;
    z-index: 1;
}

.depoimentos .box-01{
    background-color: #171717;
    flex: 1;
}

.depoimentos .box-01 .conteiner{
    margin-right: 0;
    max-width: 550px;
    position: relative;
}
.depoimentos .box-02{
    background: linear-gradient(220.36deg, rgba(25, 112, 129, 0.1) 0%, rgba(247, 247, 249, 0));
    flex: 1;
}

.depoimentos .box-02 .conteiner{
    margin-left: 0;
    max-width: 550px;
}

.depoimentos .box-01 h2, .depoimentos .box-01 p{
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.depoimentos .box-01 h2{
    color: #FFF;
    font-size: 25px;
    letter-spacing: 0.1em;
    margin-top: 80px;
}

.depoimentos .box-01 p{
    color: #C2FF01;
    font-size: 18px;
    letter-spacing: 0.2em;
    margin-top: 30px;
    width: 80%;
}

.depoimentos .box-01 #v1, .depoimentos .box-01 #v2{
    margin-bottom: 100px;
    margin-top: 30px;
}
.depoimentos .box-01 #v2{
    display: none;
}

.depoimentos .box-01 .videos video{
    border-radius: 17px;
    cursor: pointer;
    margin-left: 20px;
    width: 273px;
}

.depoimentos .box-01 .videos{
    display: inline-block;
    margin-bottom: 40px;
    position: relative;
}

.depoimentos .box-01 .videos span{
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin-left: -20px;
    padding: 15px 20px 12px 18px;
    position: absolute;
    left: 50%;
    top: 45px;
    z-index: 3;
}

.depoimentos .conteiner .botoes{
    position: absolute;
    right: 0;
    top: 50%;
}

.depoimentos .conteiner .botoes span{
    border: none;
    cursor: pointer;
    display: block;
    padding: 24px 0;
    text-align: center;
    width: 60px;
}

.depoimentos .conteiner .botoes #botao-up{
    background: linear-gradient(59.46deg, #1D737E -67.96%, #4FB9C7 103.75%);
}

.depoimentos .conteiner .botoes #botao-down{
    background-color: #C2FF01;
}

.depoimentos .box-02 .conteiner{
    padding-left: 80px;
}

.depoimentos .box-02 ul{
    display: flex;
    margin-bottom: 60px;
}

.depoimentos .box-02 ul li{
    flex: 1;
}

.depoimentos .box-02 ul li.desnivel{
    margin-top: 50px;
}

.depoimentos .box-02 ul li .cliente{
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
    height: 141px;
    margin-top: 20px;
    padding-top: 35px;
    width: 152px;
}

.depoimentos .box-02 h2, .depoimentos .box-02 p{
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.depoimentos .box-02 h2{
    font-size: 25px;
    letter-spacing: 0.1em;
    margin-top: 80px;
}
.depoimentos .box-02 p{
    font-size: 18px;
    letter-spacing: 0.2em;
    margin-top: 20px;
}

.depoimentos .box-02 img{
    display: block;
    margin: 0 auto;
    width: 100px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.depoimentos .box-02 img:hover{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.depoimentos .box-02 img#logo01{
    padding-top: 20px;
    width: 70px;
}
.depoimentos .box-02 img#logo02{
    margin-left: 27px;
    padding-top: 15px;
    width: 84px;
}
.depoimentos .box-02 img#logo03{
    width: 108px;
}
.depoimentos .box-02 img#logo04{
    padding-top: 35px;
    width: 88px;
}
.depoimentos .box-02 img#logo05{
    margin-left: 12px;
    padding-top: 40px;
    width: 123px;
}
.depoimentos .box-02 img#logo06{
    padding-top: 38px;
    width: 99px;
}
.depoimentos .box-02 img#logo07{
    padding-top: 30px;
    width: 119px;
}
.depoimentos .box-02 img#logo08{
    padding-top: 22px;
    width: 114px;
}

/*FeedBack*/
.feedback{
    background-color: #000;
    color: #FFF;
    position: relative;
}

main .feedback::before, main .feedback::after{
    border: solid 1px #197081;
    border-left: transparent;
    border-radius: 57px;
    content: '';
    height: 300px;
    position: absolute;
    top: 40px;
    opacity: 0.4;
    transform: rotate(45deg);
    width: 300px;
}
main .feedback::before{ left: -60px; }
main .feedback::after{ left: 0px; }

.feedback .position{
    padding-bottom: 120px;
    padding-top: 250px;
    position: relative;
}

.feedback .conteiner .position::before{
    background-color: #C2FF01;
    border-radius: 34px;
    content: '';
    height: 177px;
    position: absolute;
    left: 42%;
    top: -80px;
    transform: rotate(45deg);
    width: 177px;
}

.feedback .conteiner .position::after{
    content: url(../img/icons/icon02.png);
    position: absolute;
    left: 45.8%;
    top: -35px;
}

.feedback h2{
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 39px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

.feedback p{
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 58%;
    text-align: center;
}

.feedback h3{
    color: #C2FF01;
    margin-top: 60px;
    text-align: center;
    text-transform: uppercase;
}

.feedback .feed{
    display: flex;
    margin-top: 180px;
}

.feedback .feed a{
    border-radius: 10px;
    display: block;
    max-width: 60%;
    padding: 50px 80px;
    position: relative;
}

.feedback .feed .box-01 a{
    background-color: #C2FF01;
    color: #000;
}

.feedback .feed .box-02 a{
    background-color: #D40033;
    color: #FFF;
}

.feedback .feed .box-01 a::before, .feedback .feed .box-02 a::after{
    position: absolute;
    top: -100px;
}
.feedback .feed .box-01 a::before{
    content: url(../img/icons/positivo.png);
    left: 230px;
}
.feedback .feed .box-02 a::after{
    content: url(../img/icons/negativo.png);
    right: 215px;
}

/*YOUTUBE VIDEO*/
.you-video{
    background: linear-gradient(180deg, #171717 41.46%, rgba(23, 23, 23, 0) 100%);
    background-color: #000;
    padding-bottom: 75px;
    padding-top: 75px;
    position: relative;
}


main .you-video::before, main .you-video::after{
    border: solid 1px #197081;
    border-top: transparent;
    border-radius: 57px;
    content: '';
    height: 300px;
    position: absolute;
    bottom: 220px;
    opacity: 0.4;
    transform: rotate(45deg);
    width: 300px;
}
main .you-video::before{ right: -120px; }
main .you-video::after{ right: -60px; }


.you-video h2{
    color: #FFF;
    font-family: "Oswald";
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 0.2em;
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
    text-transform: uppercase;
}

.you-video iframe{
    border: none;
    height: 660px;
    margin: 20px;
    margin-top: 60px;
    max-width: 1100px;
    width: 100%;
}

.back-to-top {
    background-color: #C2FF01;
    border-radius: 65px;
    bottom: 14px;
    box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
    color: #000;
    cursor: pointer;
    display: none;
    padding: 20px;
    position: fixed;
    right: 22px;
    z-index: 2;
    -webkit-animation: animate 2s;
}
@-webkit-keyframes animate {
    from { opacity: 0;}
    to { opacity: 1;}
}